.app {
    display: flex;
    flex-direction: column;
    margin: 5%;

    /* width: 100%; */
}
.header {
    text-align: center;

}

.createBlock {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;

    margin-bottom: 30px;
    padding-bottom: 30px;

    background-color: #EAFAF9;
    

}
.catDropdown {
    width: 85%;

}
.button {
    height: 60%;
    width: 10%;
    cursor: pointer;
    border-radius: 20px;

    font-size: medium;

}
.button:hover {
    transform: scale(1.05)
}
.subBlock {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;

    margin-bottom: 30px;
    padding-bottom: 30px;

    background-color: #C1EDFA;

}